body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-wrapper {
  max-width: 800px;
  margin: 50px 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.profile-info h1 {
  margin: 0;
  font-size: 2em;
}

.contact-info {
  margin-top: 10px;
  color: #666;
}

.bio {
  margin-bottom: 20px;
}

.interests {
  list-style-type: none;
  padding: 0;
}

.interests ul {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}

.interests li {
  display: inline-block;
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 5px;
}

.social-media a {
  display: inline-block;
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media .social-media-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media .social-media-list a:hover {
  color: #333;
}

@media (max-width: 600px) {
  .profile-wrapper {
    margin: 20px;
    padding: 10px;
  }

  .profile-info,
  .bio,
  .interests,
  .social-media {
    text-align: center;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-photo {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-info h1 {
    font-size: 1.5em;
  }

  .interests ul {
    flex-direction: column;
  }

  .interests li {
    margin-bottom: 5px;
  }

  .social-media .social-media-list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .social-media a {
    margin: 5px 0;
  }
}
